@model SiGe.RegisterViewModel;

@{ ViewData["Title"] = "Registro Nuevo Usuario"; }

<div class="login-page">
    <div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src="~/img/register-page-img.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Registrarse a SIGE</h2>
                        </div>
                        <form asp-controller="Account" asp-action="Register" method="post">
                            <!-- Combo de tipo de documento-->
                            <div class="form-group">
                                <label asp-for="IdentityDocumentTypeId"></label>
                                    <select asp-for="IdentityDocumentTypeId" class="form-control" >
                                        <option value="1">Documento Nacional de Identidad</option>
                                        <option value="2">Passaporte</option>
                                    </select>
                                    <span asp-validation-for="IdentityDocumentTypeId" class="text-danger"></span>
                            </div>
                            <!-- Caja de Texto Numero de Documento de Identidad -->
                            <div class="form-group">
                                <label asp-for="IdentityDocumentNumber"></label>
                                <input asp-for="IdentityDocumentNumber" class="form-control" />
                                <span asp-validation-for="IdentityDocumentNumber" class="text-danger"></span>
                            </div>
                            <!-- Caja de Texto Apellido Paterno -->
                            <div class="form-group">
                                <label asp-for="FatherLastName"></label>
                                <input asp-for="FatherLastName" class="form-control" />
                                <span asp-validation-for="FatherLastName" class="text-danger"></span>
                            </div>
                            <!-- Caja de Texto Apellido Materno -->
                            <div class="form-group">
                                <label asp-for="MotherLastName"></label>
                                <input asp-for="MotherLastName" class="form-control" />
                                <span asp-validation-for="MotherLastName" class="text-danger"></span>
                            </div>
                            <!-- Caja de Texto Nombre -->
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <!-- Caja de Texto Email -->
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <!-- Caja de texto de Password -->
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <!-- Caja de texto de Password -->
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <!-- Boton de acceso y solicitud de Registro -->
                            <div>
                                <div>
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" id="load" data-loading-text="Registrar" value="Registrar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>