@model SiGe.CompanyCredentialModel;

@{ ViewData["Title"] = "Nuevo"; }

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Nuevo Registro</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Credenciales</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mis Credenciales</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Datos de Empresa</h4>
        </div>
    </div>
    <form asp-controller="CompanyCredential" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="UserSOL" class="col-sm-12 col-md-2 col-form-label">Usuario SOL :</label>
            <div class="col-sm-12 col-md-10">
                <input asp-for="UserSOL" class="form-control" type="text">
                <span asp-validation-for="UserSOL" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="PasswordSOL" class="col-sm-12 col-md-2 col-form-label">Password SOL :</label>
            <div class="col-sm-12 col-md-10">
                <input asp-for="PasswordSOL" class="form-control" type="password">
                <span asp-validation-for="PasswordSOL" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <input asp-action="Index" type="submit" value="Volver" class="btn btn-danger" />
        </div>
    </form>
</div>